{#
/**
 * @file base_content_entity.html.twig
 * Default theme implementation to present Base content entity data.
 *
 * This template is used when viewing Base content entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_base_content_entity()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {{- content -}}
{% endif %}
